<ion-header>
  <ion-navbar>    
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/PowerIt-title.PNG" alt="title">
    
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--Box Funcionarios-->
  <p>Funcionarios</p>
  <div id="loader1">
    <img src="assets/imgs/loader.gif" alt="">
    <img src="assets/imgs/loader.gif" alt="">
  </div>
  <ion-list>
    <button ion-item *ngFor="let item of listFuncionarios | slice:0:3; let i=index">

      <ion-thumbnail item-start>
        <img class="avatar" src="https://unpkg.com/ionicons@5.5.2/dist/svg/person-circle-outline.svg">
      </ion-thumbnail>
      <ion-label>{{ item.employee_name }}</ion-label>
      
    </button> 
    <div>
      <a (click)="AbrirTodosFuncionarios()">ver todos</a>   
      <a href="#">adicionar funcionário</a>   
    </div>    
  </ion-list>
  <!--FIM Box Funcionarios-->

  <!--Box Pedidos-->
  <div class="boxPedidos">
    <p>Pedidos</p>
    <div id="loader2">
      <img src="assets/imgs/loader.gif" alt="">
      <img src="assets/imgs/loader.gif" alt="">
    </div>
    <ion-list>
      <button ion-item *ngFor="let item of listFuncionarios | slice:0:2; let i=index">

        <ion-thumbnail item-start>
          <img class="avatar" src="https://unpkg.com/ionicons@5.5.2/dist/svg/person-circle-outline.svg">
        </ion-thumbnail>
        <ion-label>{{ item.employee_name }}</ion-label>
        
      </button> 
      <div>
        <a href="#">ver todos</a>
      </div>    
    </ion-list>
  </div>
  
  <!--FIM Box Pedidos-->

</ion-content>
