page-dashboard {

    img.avatar{
        width: 60x;
        height: 60px;;
    }

    .boxPedidos{
        margin-top: 20px;
    }

    .hidden{
        display: none;
    }

    .item-funcionario.item-md{
        padding-left: 0px;
    }

}
